*.bin
*.bsc
*.cof
*.config
*.dll
*.err
*.exe
*.hex
*.lib
*.o
*.pdb
*.suo
*.scvd
*.sta
*.sym
*.tre
*.tmp

JLinkLog.txt

bins/*

doc/disk/Sources/S8-53_Interface/.vs/*

sources/.vs/*

sources/Tests/*

sources/Device53/JLinkLog.txt
sources/Device53/JLinkSettings.ini
sources/Device53/DebugConfig/*
sources/Device53/Listings/*
sources/Device53/Objects/*

sources/Loader53/JLinkLog.txt
sources/Loader53/JLinkSettings.ini
sources/Loader53/DebugConfig/*
sources/Loader53/Listings/*
sources/Loader53/Objects/*

sources/VS-OSCI/Loader53/Debug/*
sources/VS-OSCI/Loader53/Release/*

sources/VS-OSCI/Device53/Debug/*
sources/VS-OSCI/Device53/Release/*

sources/VS-OSCI/Display/Debug/*
sources/VS-OSCI/Display/Release/*

sources/VS-OSCI/PanelS8-53/Debug/*
sources/VS-OSCI/PanelS8-53/Release/*

sources/VS-OSCI/NET/ControlLibraryS8-53/obj/*
sources/VS-OSCI/NET/LibraryS8-53/obj/*
sources/VS-OSCI/NET/S8-53_ConsoleLAN/obj/*
sources/VS-OSCI/NET/S8-53_LAN/obj/*
sources/VS-OSCI/NET/S8-53_ConsoleUSB/obj/*
sources/VS-OSCI/NET/S8-53_Interface/obj/*
sources/VS-OSCI/NET/S8-53_USB/obj/*

sources/S8-53/Objects/*
sources/S8-53/Listings/*
