*.bin
*.cof
*.opendb
*.db
*.err
*.hex
*.o
*.sta
*.sym
*.tre
*.scvd
*.suo
*.tmp

JLink*.*

sources/.vs/*

doc/doxygen/BootS8-53/*
doc/doxygen/S8-53/*

sources/S8-53/Listings/*
sources/S8-53/Objects/*
sources/S8-53/Bootloader/Listings/*
sources/S8-53/Bootloader/Objects/*

sources/Tests/TestDisplay/stm32/Listings/*
sources/Tests/TestDisplay/stm32/Objects/*
sources/Tests/TestDisplay/VS2015/TestDisplay/Debug/*

sources/VS-OSCI/Boot53/Debug/*
sources/VS-OSCI/Display/Debug/*
sources/VS-OSCI/S8-53/Debug/*

sources/VS-OSCI/NET/S8-53_LAN/bin/*
sources/VS-OSCI/NET/S8-53_LAN/obj/*
sources/VS-OSCI/NET/S8-53_USB/bin/*
sources/VS-OSCI/NET/S8-53_USB/obj/*
sources/VS-OSCI/NET/S8-53_ConsoleLAN/bin/*
sources/VS-OSCI/NET/S8-53_ConsoleLAN/obj/*
sources/VS-OSCI/NET/S8-53_ConsoleUSB/bin/*
sources/VS-OSCI/NET/S8-53_ConsoleUSB/obj/*
sources/VS-OSCI/NET/S8-53_Interface/bin/*
sources/VS-OSCI/NET/S8-53_Interface/obj/*
sources/VS-OSCI/S8-53/BootloaderS8-53/Debug/*
